---

- block:

    - name: install vmware tools
      win_package:
        path: '{{ vmware_tools_download_url }}'
        product_id: '{742FCBAF-EE5D-48B2-9E95-DA0513B79570}'
        arguments: '/s /v "/qn reboot=r"'
        state: present

  rescue:
    - name: install the visual C++ libraries
      win_package:
        path: https://aka.ms/vs/16/release/vc_redist.x64.exe
        product_id: '{7DC387B8-E6A2-480C-8EF9-A6E51AE81C19}'
        arguments: /install /passive /norestart

    - name: reboot system
      win_reboot:

    - name: copy vmware tools to temp directory
      win_get_url:
        url: '{{ vmware_tools_download_url }}'
        dest: '{{ ansible_env.TEMP }}\{{ vmware_tools_download_url | urlsplit("path") | basename }}'
      register: download_vmware_tools
      until: download_vmware_tools is success
      delay: 3
      retries: 5

    - name: install vmware tools using win_shell module
      win_shell: '{{ download_vmware_tools.dest }} /s /v "/qn reboot=r"'
      when: download_vmware_tools is success

    - name: remove temporary file
      win_file:
        path: '{{ ansible_env.TEMP }}\{{ vmware_tools_download_url | urlsplit("path") | basename }}'
        state: absent

- name: check to see vmware tools is installed
  win_stat:
    path: 'C:\Program Files\VMware\VMware Tools\vmtoolsd.exe'
  register: vmware_tools_install

- pause:
    seconds: 1440
  when: not vmware_tools_install.stat.exists

- name: install with chocolatey
  win_chocolatey:
    name: vmware-tools
    state: present
  when: not vmware_tools_install.stat.exists

- name: check to see vmware tools is installed (2nd time)
  win_stat:
    path: 'C:\Program Files\VMware\VMware Tools\vmtoolsd.exe'
  register: vmware_tools_install_2

- name: fail if not installed
  fail:
    msg: "vmware tools is not installed.. well we tried..."
  when: not vmware_tools_install_2.stat.exists

# This is needed on 2008 for vmware customization to be successful
# See: https://kb.vmware.com/s/article/66765
- name: install the visual C libraries
  win_package:
    path: https://download.microsoft.com/download/5/D/8/5D8C65CB-C849-4025-8E95-C3966CAFD8AE/vcredist_x86.exe
    product_id: '{9BE518E6-ECC6-35A9-88E4-87755C07200F}'
    arguments: '/qb!'
  when: "'Windows Server 2008' in ansible_distribution"

- name: reboot after installation
  win_reboot: